.homePageContainer{
}

.topSection {
    background-color: rgb(11, 11, 11);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    height: 600px;
    padding-inline: 50px;
}

.topSection .text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(179, 179, 179);
}

.topSection .title {
    font-size:4vw;
}

.topSection .paragraphe {
    font-size: 2.5vw;
}

.topSection .videoContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topSection .video {
    height: 300px;
}

.eventPresentation {
    background: rgb(14, 14, 14);
    display: flex;
    justify-content: space-around;
    gap: 10%;
    padding-block: 30px;
    padding-inline: 10%;
}

.eventPresentation .carouselEvent {
    flex: 1;
}

.eventPresentation .text {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eventPresentation .title {
    font-size: 3vw;
}

.eventPresentation .paragraphe{
    font-size: 1.5vw;
}

.sponsorContainer {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    padding-inline: 200px;
    background-color: rgb(11, 11, 11);
}

.sponsorContainer .title {
    font-size: 3vw;
    margin-bottom: 50px;
    color: white;
    align-self: center;
}

