.video {
    width: 40px;
    margin-right: 10px;
    align-items: center;
}



.navHeader {
    display:flex;
    align-items: center;

}

.globalStyle {
    border-bottom: 0.5px solid whitesmoke;
    background-color: rgb(53, 53, 53);
}

