.cardBody {
    padding: 20px;
    height: 250px
}

.imgContainer {
    padding: 10px;
    background-color: rgb(206, 206, 206);
    height: 150px;
}

.sponsorImage {
    height: 100%;
    width:auto;
}